# Database connection
DB_HOSTNAME=host.docker.internal
DB_PORT=1521
DB_SERVICENAME=xepdb1

# Database administrator
DB_USERNAME=SYS

# Replace these values before deployment
SYS_PASS=CHANGE_ME
ORDS_PASS=CHANGE_ME

# ORDS
ORDS_CONFIG_DIR=/opt/ords-config
ORDS_PORT=8085
